:root {
  /* font-size: 62.5%; 1rem === 10px */
  /* decided to increase size of everything */
  font-size: 90%;

  /* variables */
  --font-color: #F8E9E9;
  --background-color: #394648;
  --link-color: #63B0CD;
  --link-color-hover:#4e8da3;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: 'Afacad', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  background: var(--background-color);
}

header {
  border-bottom: 0.1rem dashed var(--font-color);
  display: flex;
  justify-content: flex-start;
  font-size: 3rem;
  padding: 1rem 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

a:link,
a:visited {
  color: var(--link-color);
}

a:active,
a:hover {
  color: var(--link-color-hover);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

main {
  display: flex;
  flex: 1;
  padding: 2rem 2rem;
}

main > div {
  display: flex;
  flex: 1;
}

.main {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.main__heading {
  padding: 1rem 0;
}

.main__link-item {
  padding: 0.3rem 0;
}

@media only screen and (min-width: 800px) {
  .main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  html {
    height: 100%;
  }
}
