:root {
  /* font-size: 62.5%; 1rem === 10px */
  /* decided to increase size of everything */
  font-size: 80%;

  /* variables */
  --font-color: rgb(216, 216, 216);
  --background-color: rgb(22, 22, 22);
  --link-color: rgb(67, 86, 255);
  --link-color-hover: rgb(104, 160, 216);
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: var(--font-color);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--font-color);
  color: var(--background-color);
}

header {
  border-bottom: 0.2rem dashed var(--background-color);
  display: flex;
  justify-content: flex-start;
  font-size: 3rem;
  padding: 1rem 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

a:link,
a:visited {
  color: var(--link-color);
}

a:active,
a:hover {
  color: var(--link-color-hover);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

main {
  display: flex;
  flex: 1;
}

main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.main {
  padding: 1rem;
  margin: 1.5rem;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.main__heading {
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid var(--background-color);
  padding: 1rem 0;
}

.main__content {
  margin: 0.75rem 1.5rem;
  max-width: 45rem;
}

.main__img {
  padding: 0 1.5rem;
}

.main__img img {
  width: 100%;
  max-width: 500px;
}

.main__link-item {
  padding: 0.3rem;
}

@media only screen and (min-width: 800px) {
  .main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0.75rem;
  }

  .main__img img {
    max-width: 30rem;
  }

  html {
    height: 100%;
  }
}
